body{
    background-color: #F8F9F9;
    padding: 0;
    margin: 0;
}

header {
    background: rgb(65,176,148);
    background: rgb(63,144,188);
background: linear-gradient(289deg, rgba(63,144,188,1) 0%, rgba(34,195,177,1) 100%);
    margin: -1% 0 0 0;
    height: 15%;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0px 0px 20px 0px #000;
}

.title {
    font-size: 300%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin: 5%;
    font-family: pacifico;
    color: aliceblue;
    display: inline;
}

.navbar {
    text-decoration: none;
    display: inline;
    word-spacing: 15px;
    letter-spacing: 2px;
}

.navbar li {
    display: inline;
}

.navbar li a {
    color: aliceblue;
    text-transform: uppercase;
    font-weight: bolder;
    margin-bottom: 0;
}

/*
.navbar li a:hover {
    text-decoration: underline;
}
*/

#student-id {
    text-align: center; 
    margin-top: -2%; 
    color: darkslategray;
    font-family: lato;
}

.bio-container {
    padding-left: 10%;
    padding-right: 10%; 
    padding-top: 50px;
    padding-bottom: 50px;
    min-height: 200px;
/*    margin-left: -1%;*/
/*    margin-right: -1%;*/
    margin-top: 5.1%;
    background-color: #3D4849;
/*    box-shadow: inset 0px 0px 20px 0px #000;*/
}

.bio-header {
    margin-left: 250px; 
    padding-left: 0;
    color: aliceblue;
}

.bio-para {
    margin-left: 250px;
    width: 50%;
    color: aliceblue; 
    font-size: 1.1em;
    font-family: lato;
}

#profile-pic {
    width: 200px;
    border-radius: 50%;
    float: left;
}

.content{
    box-shadow: 0px 0px 15px 0px #000;
    margin-top: -1.2%;
/*    margin-right: -0.6%;*/
    margin-bottom: -2.6%;
/*    margin-left: -0.6%;*/
    width: 100%;
    padding-top: 2%;
    padding-bottom: 5%
}

h2 {
    color: darkslategray;
    padding-left: 5%;
    font-family: lato;
    font-size: 1.6em;
    text-transform: uppercase;
    font-weight: normal;
}

table{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

th, td{
    border-color: white;
    text-align: center;
    padding: 8px;
    font-family: lato;
}

th {
    background-color: cadetblue;
    color: white;
}

td{
    background-color: #E5E7E9;
    color: #000;
}

td:hover{
    background-color: #D7DBDD;
}

ul {
    padding-left: 10%;
    padding-right: 10%;
    font-family: lato;
    font-size: 1.2em
}

li {
    margin-bottom: 1%;
}

footer {
    background-color: #3D4849;
    color: aliceblue;
/*    margin: -5px;*/
    margin-bottom: -5%;
/*    box-shadow: inset 0px 0px 15px 0px #000;*/
    padding: 2%;   
/*
    position: absolute;
    left: 0;
    right: 0;
*/
/*    margin-top: 5%;*/
}

#footer-content-container{
    margin-left: 5%; 
    margin-right: 5%
}

.fa {
    padding: 10px;
    font-size: 30px;
    width: 32px;
    height: 32px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    color: white;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-linkedin {
    background-color: #007bb5;
}

.fa-github {
    background-color: #FFF;
    color: #211F1F;
}

.fa-twitter {
    background-color: #55ACEE;
}

.fa-instagram {
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}

.contact-link {
    color: #fff;
    display: inline;
}

.contact-link:hover {
    opacity: 0.7;
}

.contact-icons {
    font-size: 110%;
}

.footer-contact {
    padding-bottom: 1%;
    margin-left: 0.5%;
    font-size: 110%;
    vertical-align: top;
    font-family: lato;
}

#address {
    font-style: italic;
}

#copyright {
    font-size: 75%;
    font-family: lato;
}

a {
    text-decoration: none;
    color: cadetblue;
}

a:hover {
    opacity: 0.7;
}